
<div class="col-md-6">
    <h2 class="text-center">Login</h2>
<div class="container Absolute-Center is-Responsive">
    
    <form>
    <div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input [(ngModel)]="username" placeholder="username" name="username" class="form-control" id="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="password" placeholder="password" name="pasword" class="form-control" id="password">
          </div>
        <div>
        <button (click)='checkLogin()' 
        class='btn btn-success'>Login</button>
        </div>
          <!-- <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input [(ngModel)]="bloodbank.qty" placeholder="quantity" name="qty" class="form-control" id="qty">
          </div>

        User Name :<input type='text' name='username' [(ngModel)]='username' 
        placeholder="Enter username">
        Password :<input type='text' name='password' [(ngModel)]='password' placeholder= "Enter your password">
    
    </div>
        <button (click)='checkLogin()' 
        class='btn btn-success'>Login</button> -->
    </div>
    
</form>