
<app-header></app-header>
 
  
  <!-- <a routerLink="/users"> List User</a>
  <a style="margin-left:10px" routerLink="/adduser">Add User</a>
  <a style="margin-left:10px" routerLink="/medicines">Medicines</a>
  <a style="margin-left:10px" routerLink="/addmed">Add Medicine</a>
  <a style="margin-left:10px" routerLink="/bloodbanks">Bloodbanks</a>
  <a style="margin-left:10px" routerLink="/addbb">Add Blood</a>
  <a style="margin-left:10px" routerLink="/medicineshops">Medicine_Shops</a>
  <a style="margin-left:10px" routerLink="/addmedshop">Add Medicine_Shops</a>
  <a style="margin-left:10px" routerLink="/bloodbankshops">Bloodbank_Shops</a>
  <a style="margin-left:10px" routerLink="/addbbs">Add Blood_Shops</a>
  <br/> -->
   <div class="col-md-offset-1">
    <h1>
      Welcome to {{title}}
    </h1>
  </div> 
   <router-outlet></router-outlet>
   <app-footer></app-footer>
