<h3>Update Medicine</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="medicine.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Quantity</label>
      <input type="text" class="form-control" id="qty" required [(ngModel)]="medicine.qty" name="Quantity">
    </div>
       <div class="form-group">
      <label for="name">Price</label>
      <input type="text" class="form-control" id="price" required [(ngModel)]="medicine.price" name="price">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

